@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto;
}

header{
	height:70px;
	background-color:#dddddd;
}

.contents > .joinbox{
	width:350px;
}

footer{
	height:50px;
	background-color:#dddddd;
}

.input-box{
	width:650px;
}